{% extends "admin.base" %}

{% block title %}批量导入{% endblock %}

{% block content %}
<div id="import-status" class="callout callout-info">
  <p>正在导入，请耐心等待。如果一直没有响应，可以尝试刷新页面。</p>
</div>
<div class="card card-primary table-responsive no-padding">
  <div class="card-body">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>材质名称</th>
          <th>类型</th>
          <th>上传者</th>
          <th>导入状态</th>
          <th>源文件</th>
        </tr>
      </thead>
      <tbody>
        {% for id, entry in files %}
        <tr id="entry-{{ id }}" class="queue-entry">
          <td>{{ entry | basename | replace({'.png': ''}) }}</td>
          <td>{{ app.request.type }}</td>
          <td>{{ app.request.uploader }}</td>
          <td id="status"><i class="fa fa-tasks"></i> 队列中</td>
          <td>{{ entry }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}

{% block before_foot %}
<script>let queue = {{ files|keys|json_encode }};</script>
{% endblock %}