{% extends 'admin.base' %}

{% block title %}{{ trans('LittleSkin\\YggdrasilConnect::config.title') }}{% endblock %}

{% block content %}
  <style>
    textarea {
      font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
    }
  </style>

  <div class="alert alert-info"><i class="fa-solid fa-circle-info"></i>&nbsp;&nbsp;{{ trans('LittleSkin\\YggdrasilConnect::config.read-readme-first')|raw }}</div>
  <div class="row">
    <div class="col-md-6">
      {{ forms.common|raw }}
    </div>
    <div class="col-md-6">
      <div class="card card-success">
        <div class="card-header">
          <h3 class="card-title"><i class="fa fa-star"></i> API Root</h3>
        </div>
        <div class="card-body">
          <p>{{ trans('LittleSkin\\YggdrasilConnect::config.url.label') }}<code>{{ url('api/yggdrasil') }}</code></p>
          <p>{{ trans('LittleSkin\\YggdrasilConnect::config.url.notice') }}</p>
        </div>
      </div>

      {{ forms.yggc|raw }}
      {{ forms.keypair|raw }}
    </div>
  </div>
{% endblock %}
