{% extends 'admin.base' %}

{% block title %}Yggdrasil 日志{% endblock %}

{% block content %}
  <div class="card">
    <div class="card-body p-0">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>#</th>
            <th>动作</th>
            <th>UID</th>
            <th>PID</th>
            <th>附加参数</th>
            <th>IP</th>
            <th>时间</th>
          </tr>
        </thead>
        <tbody>
          {% for log in logs %}
            <tr>
              <td>{{ log.id }}</td>
              <td>{{ actions[log.action] }}</td>
              <td>{{ log.user_id }}</td>
              <td>{{ log.player_id }}</td>
              <td>
                <a
                  href="#"
                  onclick="alert('{{ log.parameters }}')"
                >
                  点击查看
                </a>
              </td>
              <td>{{ log.ip }}</td>
              <td>{{ log.time }}</td>
            </tr>
          {% else %}
            <tr>
              <td colspan="7">暂无记录</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div class="card-footer">
      <div class="float-right">
        {{ logs.links()|raw }}
      </div>
    </div>
  </div>
{% endblock %}
