{% extends 'admin.base' %}

{% block title %}{{ trans('InvitationCodes::admin.title') }}{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-md-6">
      <div class="card card-success">
        <div class="card-header">
          <h3 class="card-title">{{ trans('InvitationCodes::admin.available.title') }}</h3>
        </div>
        <div class="card-body p-0">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>{{ trans('InvitationCodes::general.code') }}</th>
                <th>{{ trans('InvitationCodes::admin.generated_at') }}</th>
              </tr>
            </thead>
            <tbody>
              {% for item in free %}
                <tr>
                  <td>{{ item.code }}</td>
                  <td>{{ item.generated_at }}</td>
                </tr>
              {% else %}
                <tr>
                  <td colspan="2">{{ trans('InvitationCodes::admin.available.empty') }}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        <div class="card-footer">
          <form method="post" action="{{ url('/admin/invitation-codes/generate') }}">
            {{ csrf_field() }}
            <div class="input-group mb-2">
              <div class="input-group-prepend">
                <span class="input-group-text">
                  {{ trans('InvitationCodes::admin.available.amount') }}
                </span>
              </div>
              <input
                type="number"
                class="form-control"
                name="amount"
                style="width: 50%;"
                placeholder="{{ trans('InvitationCodes::admin.available.placeholder') }}"
              >
            </div>
            {% if errors.any() %}
              <div class="alert alert-danger">{{ errors.first() }}</div>
            {% endif %}
            <button type="submit" class="btn btn-primary">
              {{ trans('InvitationCodes::admin.title') }}
            </button>
          </form>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="card card-secondary">
        <div class="card-header">
          <h3 class="card-title">{{ trans('InvitationCodes::admin.used.title') }}</h3>
        </div>
        <div class="card-body p-0">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>{{ trans('InvitationCodes::general.code') }}</th>
                <th>{{ trans('InvitationCodes::admin.generated_at') }}</th>
                <th>{{ trans('InvitationCodes::admin.used.user_id') }}</th>
                <th>{{ trans('InvitationCodes::admin.used.used_at') }}</th>
              </tr>
            </thead>
            <tbody>
              {% for item in used %}
                <tr>
                  <td>{{ item.code }}</td>
                  <td>{{ item.generated_at }}</td>
                  <td>{{ item.used_by }}</td>
                  <td>{{ item.used_at }}</td>
                </tr>
              {% else %}
                <tr>
                  <td colspan="4">{{ trans('InvitationCodes::admin.used.empty') }}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
