<div class="card card-primary">
  <div class="card-header">
    <h3 class="card-title">
      {{ trans('GPlane\\Mojang::uuid.title') }}
    </h3>
  </div>
  <div class="card-body">
    <p>{{ trans('GPlane\\Mojang::uuid.description') }}</p>
    <div class="callout callout-info">
      {{ trans('GPlane\\Mojang::uuid.tip') }}
    </div>
    <div class="callout callout-success">
      {{ trans('GPlane\\Mojang::uuid.notice') }}
    </div>
  </div>
  <div class="card-footer">
    <button id="update-uuid" class="btn bg-primary">
      {{ trans('GPlane\\Mojang::uuid.button') }}
    </button>
  </div>
</div>
